<h2>Update  Product</h2>



<!-- Update form -->
<form id="addNewProduct" name="addNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)" >
      
    <div class="md-form">
      
      <input type="text"  id= "name" name= "name" [(ngModel)] = "data.name" class="form-control" ngModel>
     
    </div>
  
    <div class="md-form">
      
      <input type="text" id= "color" name= "color"  [(ngModel)] = "data.color" class="form-control" ngModel>
      
    </div>
  
    <div class="text-center">
      <input type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Update">
    </div>
  </form>
  <!-- Update form -->