.back{
    font-size: 24px;
    opacity: 0.5;
    color: azure;
    margin-right: 1022px;
}
.backButton{
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
::placeholder { 
    color: whitesmoke;
    opacity: 0.6; 
}

.form-control{
    color: whitesmoke;
}