<a routerLink="/" id="backButton"><i class="fa fa-arrow-left"></i></a>

<h2>Add New Product</h2>

<!-- <form id="addNewProduct" name="addNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)" >
  Name : <input type="text" id= "name" name= "name" ngModel><br>
  Color : <input type="text" id= "color" name= "color" ngModel><br>
  <input type="submit" value="Add Product">
</form> -->

<!-- Add form -->
<form id="addNewProduct" name="addNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)" >
      
    <div class="md-form">
      
      <input type="text"  id= "name" name= "name"  class="form-control" placeholder="Product Name" ngModel >
      
    </div>
  
    <div class="md-form">
      
      <input type="text" id= "color" name= "color" class="form-control" placeholder="Product Color" ngModel>
      
    </div>
  
    <div class="text-center">
      <input type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Add">
    </div>
  </form>
  <!-- Add form -->



<h3 *ngIf="isAdded">{{confirmation}}</h3>


